.up h1 {
    margin: 0;
    border: 0;
    padding: 15px;
    text-align: center;
    background-color: rgba(147, 112, 216, .5);
}

.comp {
    width: 350px;
    border-radius: 50%;
    margin: 40px 40px 40px 40px;
}

.info {
    display: flex;
    background-color: white;
    margin: 30px;
    padding: 10px;
    border-radius: 20px;
}

.info p {
    font-size: 40px;
    margin: auto 0;
}